/*Filter bar*/
.block-shop-sort-bar{
	display: flex;
	justify-content: center;
	align-items: center;	
}
.shop-sort-bar{    
    display: flex;
    justify-content: space-between;  
    align-items: center;      
    width: 990px;
    padding: 5px 10px;    
    border-radius: 10px;
    background-color: #EDEDED;    
}
.shop-sort-by-options{
    display: flex;
    align-items: center;    
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
}
.shop-sort-by-options .shop-sort-by-options__option{
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: white;
}
/*Price bar*/
.shop-sort-by-options .select-with-status {
    min-width: 10rem;
    margin-left: 5px;    
}
.shop-sort-by-options .select-with-status__holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
    background-color: #fff;
    height: 2.365rem;
    line-height: 2.125rem;
    border-radius: 2px;    
}
.shop-sort-by-options .select-with-status__icon svg{
    height: 10px;
    margin-right: 10px;
}
.shop-sort-by-options .select-with-status__placeholder{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0,0,0,.8);
    margin: 0 0.625rem 0 0.75rem;
    padding: 0;
}